body {
    background: rgb(58,58,58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    padding: 20px 40px 10px 50px;
    text-align: center;
}

.feature-box {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div {
    background: red;
    margin: auto;
    width: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

footer {
    background: black;  
    padding: 10px 20px;
}

li:first-child {
    background: red
}

li:hover {
    background: green
}

a {
    text-decoration: none;
    text-decoration-color: blue
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: blue;
}

/* For logo */
.logo a {
    background-image: url("images/chongqing.jpg");
    background-size: 300px;
    width: 300px;
    display: inline-block;
    height: 80px;
    text-indent: -99999999px;
}